@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
h1,h2,h3{
    font-family: 'Quicksand', sans-serif;
}
.content-1{
    display:flex;
    background-color:rgb(11, 129, 165) ;
    height: 100vh;
    flex-wrap: nowrap ;
        /*
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    
    */
    align-items:center;
}
.lien {
    
    margin: 17px;   
    padding: solid 20px;
    font-size: 30px;
}
.content-1 >p{
    color:blanchedalmond;
    font-size: 20px;
}

.header{
    width: 100%;
    color: white;
    height:80px ;
    display:flex;
    justify-content: space-between;
    padding: 0% 2em;
    background-color:  rgb(73, 117, 15);
}
body{
    margin: 0%;
    padding: 0%;
    
}
.header>ul{
    list-style-type:  none;
    display: flex;
    align-items: center;
}
.header>ul>li{
    margin: 0% 1em;
    cursor: pointer;
}



@font-face {
    font-family: "chathurabold";
    src: url("../font/chathura_bold_macroman/chachathura-bold-webfont.eot");
    font-weight: normal;
    font-style: normal;
}

#tunisia{
    font-size: 35px;
    
}
a{
    text-decoration: none;
    color : white;
}
a:hover{
    color:lightskyblue;
}
.haier{
    background-color: rgb(56, 141, 211);
    display: flex;
    height: 100vh;
}
.button{
    height: 52px;
    width: 125px;
    background-color: black;
}
#link{
    color: black;
}

.content-2{
    display: solid;
    background-color: black;
}